		html, body, div, span, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			abbr, address, cite, code,
			del, dfn, em, img, ins, kbd, q, samp,
			small, strong, sub, sup, var,
			b, i,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section, summary,
			time, mark, audio, video {
			    margin:0;
			    padding:0;
			    border:0;
			    box-sizing: border-box;
			    outline:0;
			    font-size:100%;
			    vertical-align:baseline;
			    background:transparent;
			}

			body {
			    line-height:1;
			}

			article,aside,details,figcaption,figure,
			footer,header,hgroup,menu,nav,section { 
			    display:block;
			}

			nav ul {
			    list-style:none;
			}

			blockquote, q {
			    quotes:none;
			}

			blockquote:before, blockquote:after,
			q:before, q:after {
			    content:'';
			    content:none;
			}

			a {
			    margin:0;
			    padding:0;
			    font-size:100%;
			    vertical-align:baseline;
			    background:transparent;
			}

			/* change colours to suit your needs */
			ins {
			    background-color:#ff9;
			    color:#000;
			    text-decoration:none;
			}

			/* change colours to suit your needs */
			mark {
			    background-color:#ff9;
			    color:#000; 
			    font-style:italic;
			    font-weight:bold;
			}

			del {
			    text-decoration: line-through;
			}

			abbr[title], dfn[title] {
			    border-bottom:1px dotted;
			    cursor:help;
			}

			table {
			    border-collapse:collapse;
			    border-spacing:0;
			}

			/* change border colour to suit your needs */
			hr {
			    display:block;
			    height:1px;
			    border:0;   
			    border-top:1px solid #cccccc;
			    margin:1em 0;
			    padding:0;
			}

			input, select {
			    vertical-align:middle;
			}
		/****  END RESET *****/



		body {
		  -moz-osx-font-smoothing: grayscale;
		  -webkit-font-smoothing: antialiased;
		  color: #2c3e50;
		  font-family: 'Avenir', Helvetica, Arial, sans-serif;
		  margin: 0; }


.amount{
	font-size: 90px;
	line-height: 90px;
}

.teal-check{
	height: 13px;
	width: 17px;
}

.hero-image{
	max-width: 100%;
}

.bundle{
	text-align: center;
    padding: 20% 15% 15% 10%;
}
.card{
	padding-bottom: 5%;
}

.card-body{
	padding-top: 12%;
    padding-bottom: 8%;
    text-align: center;
    border: solid thin #D2D2D2;
    margin-left: 5%;
    margin-right: 5%;
}

.card-body> *{
	color: #58595B;
}

.card-button{
	background-color: #DA262D;
    padding: 11px 76px;
    border-radius: 2px;
    border: none;
    top: 10px;
    font-size: 16px;
    color: white;
}

.card-features{
	padding-top: 7%;
	padding-bottom: 7%;
	color: #666666;
    line-height: 2.25;
    font-size: 16px;
    list-style: none;
}

.card-title{
	font-size: 16px;
    font-weight: 300;
    padding-top: 6%;
}

.card-price*{
	display: inline-block;
}

.currency{
	display: inline-block;
    margin-top: 8px;
}

.dollar {
	font-size: 20px;
	line-height: 1;
    margin-top: 9px;
    display: inline-block;
}
.hero-message{
	padding: 12% 7% 12% 7%;
}

.hero-message h1{
	font-size: 36px;
    text-align: center;
    font-weight: 500;
    color: #58595B;
}

.change-location{
	color: #2B7E93;
}

.dollar, .amount {
	vertical-align: top;
}

.footer-details{
	border-top: solid thin #D2D2D2;
    padding-top: 8%;
    color: #58595B;
    font-size: 14px;
    padding-bottom: 4%;
}

.footer-image{
	height: 40px;
	width: 50px;
}
.pricing-search{
	padding-top: 15%;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: #666666;
}

.order-now-button{
	background-color: #DA262D;
    padding: 10px 80px;
    border-radius: 2px;
    border: none;
    top: 10px;
    font-size: 16px;
    color: white;
}

.hero-sub-caption {
	padding-top: 7%;
    font-size: 20px;
    color: #58595B;
    text-align: center;
    font-weight: 400;
    padding-bottom: 15%;

}

.info-icons{
	width: 80px;
	height: 70px;
}

.laptop{
	height: 72px;
	width: 135px;
}

.fa-chevron-right{
	font-size: 16px;
}

.header-left> * {
	display: inline-block;
}

.banner-icon{
	height: 24px;
	width: 24px;
	vertical-align: middle;
    margin-right: 7px;
}
.banner-list> *{
	display: inline-block;
	font-size: 16px;
}
.banner-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2%;
}
.hidden-mobile{
	display: none;
}
.header-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3% 3% 4% 4%;
	border-bottom: thin solid #D2D2D2;
}

.fa-bars{
	width: 25px;
	height: 15px;
	color: #DA262D;
}

.fa-phone{
	width: 12px;
	height: 12px;
	color: #DA262D;
}

.header-left-phone-number {
	font-size: 16px;
	color: #58595B;
}

.header-left-phone-number i{
	margin-right: 5px;
}

.frontier-logo{
	width: 65px;
	height: 20px;
}

.info-columns{
	text-align: center;
}

.provider-info-title{
	color: #58595B;
    font-size: 20px;
    padding-bottom: 7%;
    line-height: 1.2;
    padding-top: 9%;
    font-weight: 500;
}

.main-footer{
	background: #DA262D;
    color: white;
    text-align: center;
    padding: 10% 9%;
    line-height: 1.1;
    font-size: 16px;
}

.main-footer-button{
	background-color: white;
    background-color: white;
    border-radius: 2.5px;
    border: none;
    top: 10px;
    font-size: 16px;
    color: #DA262D;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px 0;
}
.provider-info-description{
	line-height: 1.6;
    color: #58595B;
    font-size: 14px;
    padding: 0% 6% 15% 7%;
}

.why{
	text-align: center;
    font-size: 26px;
    color: #58595B;
    line-height: 1.15;
    font-weight: 500;
}

.why-description{
	color: #666666;
    font-size: 16px;
    line-height: 1.7;
    padding-top: 5%;
}

@media ( min-width: 760px) and (max-width: 1000px) {
	
	.banner-list{
		display: block;
		padding: 0%;
	}
	.banner-left{
		float: left;
	}
	.banner-right{
		float: right;

	}
	.header {
		display: block;
	}
	.hidden-mobile{
		display: inline;
	}
	.provider-info{
		width: 33.3%;
		float:left;
		list-style: none;
	}

	.card{
		width: 33.3%;
		float:left;
	}
	.why{
		font-size: 36px;
	}
	.why-description{
		padding-top: 1.5%;
	}
	.main-footer{
	padding: 4% 9%;	
    font-size: 20px;
	}
	.footer {
		clear: both;
	}
	.hidden-tablet{
		display: none;
	}
	.main-footer-button {
		background-color: transparent;
		color: white;
	}
	.main-footer-button i {
		color: white;
	}
	.hero-image{
		display: none;
	}

	.hero{
		background-image: url(desktop-home-hero-bg.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
	    max-width: 100%;
	    overflow: hidden;
        margin-bottom: 7%;
        clear: both;
	}
	.hero-message{
		width: 50%;
	    float: right;
	    background-color: rgba(255,255,255, 0.5);
	}
}

